# Comprehensions

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Basic-list-comprehensions" data-toc-modified-id="Basic-list-comprehensions-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Basic list comprehensions</a></span><ul class="toc-item"><li><span><a href="#for-loop" data-toc-modified-id="for-loop-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span><code>for</code> loop</a></span></li><li><span><a href="#for-loop-&amp;-if-condition" data-toc-modified-id="for-loop-&amp;-if-condition-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span><code>for</code> loop &amp; <code>if</code> condition</a></span></li><li><span><a href="#if-else-assignment-inside-for-loop" data-toc-modified-id="if-else-assignment-inside-for-loop-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span><code>if else</code> assignment inside <code>for</code> loop</a></span></li></ul></li><li><span><a href="#Double-list-comprehensions" data-toc-modified-id="Double-list-comprehensions-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Double list comprehensions</a></span></li><li><span><a href="#Nested-list-comprehensions" data-toc-modified-id="Nested-list-comprehensions-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Nested list comprehensions</a></span></li><li><span><a href="#Dictionary-comprehensions" data-toc-modified-id="Dictionary-comprehensions-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Dictionary comprehensions</a></span></li><li><span><a href="#Set-comprehensions" data-toc-modified-id="Set-comprehensions-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Set comprehensions</a></span></li><li><span><a href="#Summary" data-toc-modified-id="Summary-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Timings" data-toc-modified-id="Timings-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Timings</a></span></li></ul></div>

## Basic list comprehensions

### `for` loop

In [1]:
words = ['play', 'filling', 'bar', 'theatre', 'easygoing', 'date', 'lead', 'that', 'story',  'island']

In [2]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

**Exercise**: we want another list with same words in upper case (mayúsculas)

In [12]:
# upper of a word

In [11]:
# PYTHONIC
words_big = []

for w in words:
    words_big.append(w.upper())

In [12]:
words_big

['PLAY',
 'FILLING',
 'BAR',
 'THEATRE',
 'EASYGOING',
 'DATE',
 'LEAD',
 'THAT',
 'STORY',
 'ISLAND']

Para explorar sobre qué itero suelo usar `break` y `type`

In [8]:
for w in enumerate(words):
    print(type(w))
    print(w)
    break

<class 'tuple'>
(0, 'play')

In [10]:
for i, w in enumerate(words):
    print(i)
    print(w)
    break

0
play

Let's create UPPER list with a comprehension

In [13]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [15]:
words_big = [w.upper() for w in words]

**Exercise**: we want the squares of numbers from 1 to 10.

### `for` loop & `if` condition

**Exercise**: We want the sub-list with words longer than 6 characters.

In [37]:
max_len = 6

In [38]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [39]:
# length of a word

In [40]:
len("mesonero")

8

In [42]:
words_long

['filling', 'theatre', 'easygoing']

Equivalent list comprehension

In [47]:
numbers = list(range(20))

In [48]:
numbers

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

**Exercise**: We want all multiples of 5 between 0 and 100.

In [55]:
for i in range(1, 31):
    if i % 5 == 0:
        print(i)

5
10
15
20
25
30

In [57]:
[num for num in range(1, 101) if num % 5 == 0]

[5,
 10,
 15,
 20,
 25,
 30,
 35,
 40,
 45,
 50,
 55,
 60,
 65,
 70,
 75,
 80,
 85,
 90,
 95,
 100]

Examples

In [58]:
[7 for x in range(10)]

[7, 7, 7, 7, 7, 7, 7, 7, 7, 7]

In [59]:
[x ** 2 for x in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [60]:
[y ** 2 for y in range(10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

### `if else` assignment inside `for` loop

Let's first learn how to if-else assign a value to a variable in one line:

In [ ]:
word = "computer"

In [67]:
if len(word) > 5:
    word_type = "long"
else:
    word_type = "short"

In [74]:
# equivalent one liner
word_type = "long" if len(word) > 5 else "short"

In [68]:
age = 22

In [72]:
mayor = "si" if age > 18 else "no"

In [75]:
mayor

'si'

**Exercise**: given a list of words, create another list with the same length, computing whether each word is long or short

In [47]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [78]:
# list with "long"s and "short"s
types = []

for w in words:
    print(w)
    w_type = "long" if len(w) > 5 else "short"
    print(w_type)
    types.append(w_type)
    print("")

play
short

filling
long

bar
short

theatre
long

easygoing
long

date
short

lead
short

that
short

story
short

island
long

In [80]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [79]:
types

['short',
 'long',
 'short',
 'long',
 'long',
 'short',
 'short',
 'short',
 'short',
 'long']

In [82]:
[("long" if len(w) > 5 else "short") for w in words]

['short',
 'long',
 'short',
 'long',
 'long',
 'short',
 'short',
 'short',
 'short',
 'long']

## Double list comprehensions

**Exercise**: we are 4 friends. We want to visit 3 countries.  
Create a list of strings, containing all the posibilities of "name loves country"

How many combinations are there?

In [96]:
4 * 3

12

In [89]:
countries = ["Brasil", "Morocco", "New Zealand"]
friends = ["Alice", "Bob", "Eve", "John"]

In [93]:
pairs = []

for c in countries:
    for f in friends:
        pairs.append(f"{f} loves {c}")

In [94]:
pairs

['Alice loves Brasil',
 'Bob loves Brasil',
 'Eve loves Brasil',
 'John loves Brasil',
 'Alice loves Morocco',
 'Bob loves Morocco',
 'Eve loves Morocco',
 'John loves Morocco',
 'Alice loves New Zealand',
 'Bob loves New Zealand',
 'Eve loves New Zealand',
 'John loves New Zealand']

In [97]:
pairs = [f"{f} loves {c}" for f in friends for c in countries]

In [98]:
pairs

['Alice loves Brasil',
 'Alice loves Morocco',
 'Alice loves New Zealand',
 'Bob loves Brasil',
 'Bob loves Morocco',
 'Bob loves New Zealand',
 'Eve loves Brasil',
 'Eve loves Morocco',
 'Eve loves New Zealand',
 'John loves Brasil',
 'John loves Morocco',
 'John loves New Zealand']

In [100]:
a = 4
b = 3

In [103]:
print("{a} is bigger than {b}")

{a} is bigger than {b}

In [104]:
print(f"{a} is bigger than {b}")

4 is bigger than 3

In [99]:
len(pairs)

12

## Nested list comprehensions

In [105]:
friends

['Alice', 'Bob', 'Eve', 'John']

Build a list of lists with names in upper and lower

first element shold be `["Alice", "ALICE", "alice"]`

In [107]:
# not exactly
[f.upper() for f in friends]

['ALICE', 'BOB', 'EVE', 'JOHN']

In [109]:
list_of_lists = [[f, f.upper(), f.lower()] for f in friends]

In [110]:
list_of_lists

[['Alice', 'ALICE', 'alice'],
 ['Bob', 'BOB', 'bob'],
 ['Eve', 'EVE', 'eve'],
 ['John', 'JOHN', 'john']]

In [111]:
len(list_of_lists)

4

In [112]:
list_of_lists[0]

['Alice', 'ALICE', 'alice']

In [113]:
len(list_of_lists[0])

3

## Dictionary comprehensions

**Exercise**: you are given a list of words. Write a dictionary containing the length of every word.

In [114]:
words

['play',
 'filling',
 'bar',
 'theatre',
 'easygoing',
 'date',
 'lead',
 'that',
 'story',
 'island']

In [125]:
word_lengths = dict()
# equiv to {} but less readable (couldn´t it be a set?)

In [126]:
word_lengths

{}

In [127]:
for w in words:
    word_lengths[w] = len(w)

In [128]:
word_lengths

{'play': 4,
 'filling': 7,
 'bar': 3,
 'theatre': 7,
 'easygoing': 9,
 'date': 4,
 'lead': 4,
 'that': 4,
 'story': 5,
 'island': 6}

Equivalent with comprehension:

In [132]:
person = {
    "name": "Leticia",
    "surname": "Sobrino"
}

In [129]:
{w: len(w) for w in words}

{'play': 4,
 'filling': 7,
 'bar': 3,
 'theatre': 7,
 'easygoing': 9,
 'date': 4,
 'lead': 4,
 'that': 4,
 'story': 5,
 'island': 6}

In [130]:
{w.upper(): len(w) for w in words}

{'PLAY': 4,
 'FILLING': 7,
 'BAR': 3,
 'THEATRE': 7,
 'EASYGOING': 9,
 'DATE': 4,
 'LEAD': 4,
 'THAT': 4,
 'STORY': 5,
 'ISLAND': 6}

In [131]:
{w.upper(): 1 for w in words}

{'PLAY': 1,
 'FILLING': 1,
 'BAR': 1,
 'THEATRE': 1,
 'EASYGOING': 1,
 'DATE': 1,
 'LEAD': 1,
 'THAT': 1,
 'STORY': 1,
 'ISLAND': 1}

**Exercise**: you are given a dict of ages.  
Create a dictionary containing their ages in 5 years time.

In [135]:
ages = {
    "Alice": 24,
    "Bob": 28,
    "Eve": 34,
    "John": 19
}

Review

In [143]:
for a in ages.keys():
    print(a)
    print(ages[a])

Alice
24
Bob
28
Eve
34
John
19

In [141]:
for b in ages.values():
    print(b)

24
28
34
19

In [152]:
for c in ages.items():
    print(c)

('Alice', 24)
('Bob', 28)
('Eve', 34)
('John', 19)

In [146]:
for key, value in ages.items():
    print(key, value)

Alice 24
Bob 28
Eve 34
John 19

Solve

In [150]:
ages

{'Alice': 24, 'Bob': 28, 'Eve': 34, 'John': 19}

In [148]:
new_ages = {}

for name, age in ages.items():
    new_ages[name] = age + 5

In [149]:
new_ages

{'Alice': 29, 'Bob': 33, 'Eve': 39, 'John': 24}

Now as a comprehension

In [151]:
{name: age + 5 for name, age in ages.items()}

{'Alice': 29, 'Bob': 33, 'Eve': 39, 'John': 24}

## Set comprehensions

**Exercise**: you are given country-age codes. Build a set with unique countries.

In [165]:
codes = ["es-91", "en-88", "en-43", "fr-12", "it-33", "es-15", "fr-55", "es-66", "usa-55"]

In [160]:
codigo = "usa-55-hola-juan estoy aquí"

In [161]:
codigo.split("-")

['usa', '55', 'hola', 'juan estoy aquí']

In [162]:
codigo.split(" ")

['usa-55-hola-juan', 'estoy', 'aquí']

In [166]:
countries = [code.split("-")[0] for code in codes]

In [167]:
countries

['es', 'en', 'en', 'fr', 'it', 'es', 'fr', 'es', 'usa']

In [168]:
countries_set = set(countries)

In [169]:
countries_set

{'en', 'es', 'fr', 'it', 'usa'}

Equivalent comprehension

In [170]:
countries_set = {code.split("-")[0] for code in codes}

In [171]:
countries_set

{'en', 'es', 'fr', 'it', 'usa'}

Other option

In [172]:
countries_set = set([code.split("-")[0] for code in codes])

In [173]:
countries_set

{'en', 'es', 'fr', 'it', 'usa'}

## Summary

 * Comprehensions are elegant.
 * Comprehensions are compact.
 * Readability counts: do not ALWAYS use comprehensions.
 * List, set, dict comprehensions

## Timings

In [12]:
nums = list(range(10 ** 6))

In [13]:
%%timeit
squares = []

for n in nums:
    squares.append(n ** 2)

362 ms ± 2.11 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [14]:
%%timeit
[x ** 2 for x in nums]

338 ms ± 6.3 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

Very similar times as expected