# MySQL

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

from sqlalchemy import create_engine, DDL
from sqlalchemy.orm import sessionmaker

In [2]:
#lenguaje+driver://usuario:password@servidor:puerto/database

# conexion a servidor

str_conn='mysql+pymysql://root:password@localhost:3306'

motor=create_engine(str_conn)

motor.execute(DDL('create database app;'))

ProgrammingError: (pymysql.err.ProgrammingError) (1007, "Can't create database 'app'; database exists")
[SQL: create database app;]
(Background on this error at: http://sqlalche.me/e/13/f405)

In [29]:
str_conn='mysql+pymysql://root:password@localhost:3306/app'
# conexion a database

motor=create_engine(str_conn)

In [4]:
datos=pd.read_csv('../datasets/apple_store.csv')

datos.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

In [5]:
datos.to_sql(name='ratings', con=motor, if_exists='append', index=False)

In [6]:
data=pd.read_sql('select * from ratings;', motor)

data.head()

,id,track_name,size_bytes,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,prime_genre
0,281656475,PAC-MAN Premium,100788224,3.99,21292,26,4.0,4.5,Games
1,281796108,Evernote - stay organized,158578688,0.00,161065,26,4.0,3.5,Productivity
2,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,0.00,188583,2822,3.5,4.5,Weather
3,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,0.00,262241,649,4.0,4.5,Shopping
4,282935706,Bible,92774400,0.00,985920,5320,4.5,5.0,Reference

In [7]:
datos=pd.read_sql('''

                select track_name, price, user_rating
                from 
                ratings
                where price=0 and user_rating>4;

                ''', motor)

datos.head()

                            track_name  price  user_rating
0                                Bible    0.0          4.5
1                     Sonos Controller    0.0          4.5
2  OpenTable - Restaurant Reservations    0.0          4.5
3                        Chase Mobile℠    0.0          4.5
4               The Masters Tournament    0.0          4.5

In [8]:
datos=pd.read_sql('''

                select prime_genre, 
                       sum(rating_count_tot) as total_rating,
                       avg(user_rating) as avg_rating
                from 
                ratings
                where 
                price=0 
                group by prime_genre
                order by total_rating desc
                limit 10;

                ''', motor)

datos.head()

         prime_genre  total_rating  avg_rating
0              Games    85426046.0    3.528578
1  Social Networking    15180364.0    2.996503
2      Photo & Video     9101464.0    3.793413
3              Music     7568592.0    3.940299
4      Entertainment     7229738.0    3.148204

In [9]:
str_conn='mysql+pymysql://root:password@localhost:3306/publications'
# conexion a database

motor=create_engine(str_conn)

In [10]:
query='''
            select group_concat(t.title) as titles, t.year
            from
            (select title, year(max(pubdate)) as 'year',
            count(titleauthor.title_id) as num_titles,
            group_concat(concat(authors.au_fname, ' ', authors.au_lname)) as authors
            from titles
            left join titleauthor
            on titles.title_id=titleauthor.title_id
            left join authors
            on authors.au_id=titleauthor.au_id
            group by titles.title
            order by num_titles desc) as t
            group by t.year;

'''

In [11]:
datos=pd.read_sql(query, motor)

datos.head()

                                              titles  year
0  Sushi, Anyone?,Computer Phobic AND Non-Phobic ...  1991
1                          Secrets of Silicon Valley  1994
2   Net Etiquette,The Psychology of Computer Cooking  2014

In [12]:
%%time

pd.read_sql('select * from publications.employee;', motor)['job_id'].sum()

CPU times: user 5.19 ms, sys: 1.27 ms, total: 6.47 ms
Wall time: 6.61 ms

365

In [13]:
%%time

pd.read_sql('select sum(job_id) as j from publications.employee;', motor)['j'][0]

CPU times: user 2.25 ms, sys: 994 µs, total: 3.25 ms
Wall time: 2.94 ms

365.0

In [14]:
pd.read_sql('show tables;', motor)

   Tables_in_publications
0                 authors
1               discounts
2                employee
3                    jobs
4                pub_info
5              publishers
6                roysched
7                   sales
8                  stores
9             titleauthor
10                 titles

In [15]:
query='''select title, year(max(pubdate)) as 'year',
            count(titleauthor.title_id) as num_titles,
            group_concat(concat(authors.au_fname, ' ', authors.au_lname)) as authors
            from titles
            left join titleauthor
            on titles.title_id=titleauthor.title_id
            left join authors
            on authors.au_id=titleauthor.au_id
            group by titles.title
            order by num_titles desc'''

In [16]:
datos=pd.read_sql(query, motor)

datos.head()

,title,year,num_titles,authors
0,"Sushi, Anyone?",1991,3,"Michael O'Leary,Burt Gringlesby,Akiko Yokomoto"
1,Computer Phobic AND Non-Phobic Individuals: Be...,1991,2,"Stearns MacFeather,Livia Karsen"
2,Cooking with Computers: Surreptitious Balance ...,1991,2,"Michael O'Leary,Stearns MacFeather"
3,Is Anger the Enemy?,1991,2,"Anne Ringer,Albert Ringer"
4,Secrets of Silicon Valley,1994,2,"Ann Dull,Sheryl Hunter"

In [17]:
list(motor.execute(DDL('select * from titles;')))[:3]

[('BU1032', "The Busy Executive's Database Guide", 'business', '1389', Decimal('19.9900'), Decimal('5000.0000'), 10, 4095, 'An overview of available database systems with emphasis on common business applications. Illustrated.', datetime.datetime(1991, 6, 12, 0, 0)),
 ('BU1111', 'Cooking with Computers: Surreptitious Balance Sheets', 'business', '1389', Decimal('11.9500'), Decimal('5000.0000'), 10, 3876, 'Helpful hints on how to use your electronic resources to the best advantage.', datetime.datetime(1991, 6, 9, 0, 0)),
 ('BU2075', 'You Can Combat Computer Stress!', 'business', '0736', Decimal('2.9900'), Decimal('10125.0000'), 24, 18722, 'The latest medical and psychological techniques for living with the electronic office. Easy-to-understand explanations.', datetime.datetime(1991, 6, 30, 0, 0))]

for e in motor.execute(DDL('select * from titles;')):
    print(e)

# Postgres

In [18]:
from sqlalchemy import Column, Float, Integer, JSON, DateTime, Text
from sqlalchemy.ext.declarative import declarative_base

In [19]:
!sudo -u iudh createdb prueba

createdb: error: database creation failed: ERROR:  database "prueba" already exists

In [20]:
#str_conn='postgresql+psycopg2://iudh:password@localhost:5432/prueba'

str_conn='postgresql://iudh:password@localhost:5432/prueba'

In [21]:
class Conector:
    def __init__(self, str_conn):
        print('Conectando...')
        
        self.motor=create_engine(str_conn)
        self.sesion=sessionmaker(bind=self.motor)()

In [22]:
Base=declarative_base()

class Tabla(Base):
    
    __tablename__='articles'
    __table_args__={'schema': 'prueba'}
    
    id=Column(Integer(), primary_key=True)
    prime_genre=Column(Text())
    total_rating=Column(Float())
    avg_rating=Column(Float())

In [23]:
class Prueba:
    
    def __init__(self, str_conn):
        
        conn=Conector(str_conn)
        self.motor=conn.motor
        self.sesion=conn.sesion
        
        self.motor.execute(DDL('create schema if not exists prueba;'))
    
    
    def crea_tabla(self):
        if not self.motor.dialect.has_table(self.motor, Tabla.__tablename__, schema='prueba'):
            print('Creando tabla...')
            Tabla.__table__.create(self.motor)
        else:
            print('La tabla ya existe.')
            
    
    def rellena_tabla(self, datos):
        
        for e in datos.itertuples():
            
            item=Tabla(id=e[0], 
                       prime_genre=e[1],
                       total_rating=e[2],
                       avg_rating=e[3])
            
            self.sesion.add(item)
            
        self.sesion.commit()
        print('Comiteado.')
        
    
    def borra_tabla(self):
        if self.motor.dialect.has_table(self.motor, Tabla.__tablename__, schema='prueba'):
            print('Borrando tabla...')
            Tabla.__table__.drop(self.motor)
            
    
    def show_df(self):
        
        data=self.motor.execute(DDL('select * from prueba.articles')).fetchall()
        columns=self.motor.execute(DDL("select * from prueba.information_schema.columns where table_name='articles'")).fetchall()
        print(columns)
        return pd.DataFrame(data, columns=[e[3] for e in columns])

In [24]:
prueba=Prueba(str_conn)

Conectando...

In [25]:
help(prueba)

Help on Prueba in module __main__ object:

class Prueba(builtins.object)
 |  Prueba(str_conn)
 |
 |  Methods defined here:
 |
 |  __init__(self, str_conn)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  borra_tabla(self)
 |
 |  crea_tabla(self)
 |
 |  rellena_tabla(self, datos)
 |
 |  show_df(self)
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables (if defined)
 |
 |  __weakref__
 |      list of weak references to the object (if defined)

In [26]:
prueba.borra_tabla()

Borrando tabla...

In [27]:
prueba.crea_tabla()

Creando tabla...

In [30]:
datos=pd.read_sql('''

                select prime_genre, 
                       sum(rating_count_tot) as total_rating,
                       avg(user_rating) as avg_rating
                from 
                ratings
                where 
                price=0 
                group by prime_genre
                order by total_rating desc
                limit 10;

                ''', motor)

datos['id']=[i for i in range(len(datos))]

In [31]:
prueba.rellena_tabla(datos)

Comiteado.

In [32]:
prueba.show_df()

[('prueba', 'prueba', 'articles', 'id', 1, "nextval('prueba.articles_id_seq'::regclass)", 'NO', 'integer', None, None, 32, 2, 0, None, None, None, None, None, None, None, None, None, None, None, None, 'prueba', 'pg_catalog', 'int4', None, None, None, None, '1', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'), ('prueba', 'prueba', 'articles', 'prime_genre', 2, None, 'YES', 'text', None, 1073741824, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, 'prueba', 'pg_catalog', 'text', None, None, None, None, '2', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'), ('prueba', 'prueba', 'articles', 'total_rating', 3, None, 'YES', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'prueba', 'pg_catalog', 'float8', None, None, None, None, '3', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES'), ('prueba', 'prueba', 'articles', 'avg_rating', 4, None, 'YES', 'double precision', None, None, 53, 2, None, None, None, None, None, None, None, None, None, None, None, None, None, 'prueba', 'pg_catalog', 'float8', None, None, None, None, '4', 'NO', 'NO', None, None, None, None, None, 'NO', 'NEVER', None, 'YES')]

   id        prime_genre  total_rating  avg_rating
0   0              Games    85426046.0    3.528578
1   1  Social Networking    15180364.0    2.996503
2   2      Photo & Video     9101464.0    3.793413
3   3              Music     7568592.0    3.940299
4   4      Entertainment     7229738.0    3.148204
5   5           Shopping     4536696.0    3.533058
6   6             Sports     3180378.0    2.917722
7   7          Utilities     3054202.0    3.454128
8   8   Health & Fitness     3032752.0    3.578947
9   9            Weather     2927698.0    3.258065