# Codigos de barras (supply chain)


### Base de datos


Se rellena una base de datos de Postgres con datos guardados en csv.

In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

from lib.sql_db import ToSQL
from sqlalchemy import create_engine, Column, Integer, Text, DDL
from sqlalchemy.orm import sessionmaker
from sqlalchemy.ext.declarative import declarative_base

import warnings
warnings.simplefilter('ignore')

In [2]:
df=pd.read_csv('../datasets/shoes.csv')

df.head()

,id,dateAdded,dateUpdated,asins,brand,categories,primaryCategories,colors,dimension,ean,imageURLs,keys,manufacturer,manufacturerNumber,name,prices.amountMax,prices.amountMin,prices.availability,prices.color,prices.condition,prices.currency,prices.dateAdded,prices.dateSeen,prices.isSale,prices.merchant,prices.offer,prices.returnPolicy,prices.shipping,prices.size,prices.sourceURLs,sizes,sourceURLs,upc,weight
0,AVpfEf_hLJeJML431ueH,2015-05-04T12:13:08Z,2018-01-29T04:38:43Z,NaN,Naturalizer,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,"Silver,Cream Watercolor Floral",NaN,NaN,https://i5.walmartimages.com/asr/861ca6cf-fa55...,"naturalizer/47147sc022,017136472311,womensnatu...",NaN,47147SC022,Naturalizer Danya Women N/S Open Toe Synthetic...,55.99,55.99,NaN,UWomens M Regular,NaN,USD,2017-03-28T11:40:25Z,"2017-03-25T09:19:24.819Z,2017-03-25T09:19:19.600Z",False,Overstock.com,NaN,NaN,NaN,S,https://www.overstock.com/Clothing-Shoes/Women...,"6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",https://www.walmart.com/ip/Naturalizer-Danya-W...,017136472311,NaN
1,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,https://i5.walmartimages.com/asr/421de5d5-3a74...,"mukluks/00173650206,033977045743,muklukswomens...",Muk Luks,0017365020-6,MUK LUKS Womens Jane Suede Moccasin,47.00,35.25,In Stock,Grey,New,USD,2018-01-03T05:21:54Z,"2017-12-08T14:24:00.000Z,2017-11-01T02:52:00.000Z",True,Walmart.com,NaN,NaN,Standard,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
2,AVpi74XfLJeJML43qZAc,2017-01-27T01:23:39Z,2018-01-03T05:21:54Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,Women's Casual Sh...",Shoes,Grey,NaN,3.397705e+10,https://i5.walmartimages.com/asr/421de5d5-3a74...,"mukluks/00173650206,033977045743,muklukswomens...",Muk Luks,0017365020-6,MUK LUKS Womens Jane Suede Moccasin,35.25,35.25,In Stock,Grey,New,USD,2017-12-06T05:02:42Z,"2017-11-10T15:11:00.000Z,2017-11-18T08:00:00.000Z",False,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Jan...,033977045743,NaN
3,AVpjXyCc1cnluZ0-V-Gj,2017-01-27T01:25:56Z,2018-01-04T11:52:35Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...","Shoes,Shoes",Black,6.0 in x 6.0 in x 1.0 in,3.397705e+10,https://i5.walmartimages.com/asr/950d38a5-0113...,"033977045903,muklukswomensdawnsuedescuffslippe...",Muk Luks,0017366001-6,MUK LUKS Womens Dawn Suede Scuff Slipper,24.75,24.75,In Stock,Black,New,USD,2018-01-04T11:52:35Z,2017-12-07T16:37:00.000Z,False,Slippers Dot Com,NaN,NaN,Value,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045903,NaN
4,AVphGKLPilAPnD_x1Nrm,2017-01-27T01:25:56Z,2018-01-18T03:55:18Z,NaN,MUK LUKS,"Clothing,Shoes,Women's Shoes,All Women's Shoes...",Shoes,Grey,6.0 in x 6.0 in x 1.0 in,3.397705e+10,https://i5.walmartimages.com/asr/5e137bc3-c900...,"mukluks/00173660206,033977045958,0033977045958...",NaN,0017366020-6,MUK LUKS Womens Dawn Suede Scuff Slipper,33.00,30.39,In Stock,Grey,New,USD,2017-12-04T21:35:47Z,2017-11-17T21:15:00.000Z,True,Walmart.com,NaN,NaN,Expedited,6,https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,"10,7,6,9,8",https://www.walmart.com/ip/MUK-LUKS-Womens-Daw...,033977045958,NaN

In [3]:
df.columns

Index(['id', 'dateAdded', 'dateUpdated', 'asins', 'brand', 'categories',
       'primaryCategories', 'colors', 'dimension', 'ean', 'imageURLs', 'keys',
       'manufacturer', 'manufacturerNumber', 'name', 'prices.amountMax',
       'prices.amountMin', 'prices.availability', 'prices.color',
       'prices.condition', 'prices.currency', 'prices.dateAdded',
       'prices.dateSeen', 'prices.isSale', 'prices.merchant', 'prices.offer',
       'prices.returnPolicy', 'prices.shipping', 'prices.size',
       'prices.sourceURLs', 'sizes', 'sourceURLs', 'upc', 'weight'],
      dtype='object')

In [4]:
df=df[['brand', 'colors', 'sizes', 'prices.amountMax', 'imageURLs', 'ean']]

df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean
0,Naturalizer,"Silver,Cream Watercolor Floral","6W,9W,7.5W,12W,8.5M,9N,9M,9.5M,10.5M,10W,8.5W,...",55.99,https://i5.walmartimages.com/asr/861ca6cf-fa55...,NaN
1,MUK LUKS,Grey,"10,7,6,9,8",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
2,MUK LUKS,Grey,"10,7,6,9,8",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
3,MUK LUKS,Black,"10,7,6,9,8",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,3.397705e+10
4,MUK LUKS,Grey,"10,7,6,9,8",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,3.397705e+10

In [5]:
df=df.dropna().reset_index()

df.head()

,index,brand,colors,sizes,prices.amountMax,imageURLs,ean
0,1,MUK LUKS,Grey,"10,7,6,9,8",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
1,2,MUK LUKS,Grey,"10,7,6,9,8",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
2,3,MUK LUKS,Black,"10,7,6,9,8",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,3.397705e+10
3,4,MUK LUKS,Grey,"10,7,6,9,8",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,3.397705e+10
4,5,Soft Ones,Brown Tweed,"5,6.5,9,11",14.00,https://i5.walmartimages.com/asr/7b979ba6-fa0a...,3.397705e+10

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 664 entries, 0 to 663
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   index             664 non-null    int64
 1   brand             664 non-null    object
 2   colors            664 non-null    object
 3   sizes             664 non-null    object
 4   prices.amountMax  664 non-null    float64
 5   imageURLs         664 non-null    object
 6   ean               664 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 36.4+ KB

In [7]:
df=df.drop(columns=['index'])
df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean
0,MUK LUKS,Grey,"10,7,6,9,8",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
1,MUK LUKS,Grey,"10,7,6,9,8",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
2,MUK LUKS,Black,"10,7,6,9,8",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,3.397705e+10
3,MUK LUKS,Grey,"10,7,6,9,8",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,3.397705e+10
4,Soft Ones,Brown Tweed,"5,6.5,9,11",14.00,https://i5.walmartimages.com/asr/7b979ba6-fa0a...,3.397705e+10

In [8]:
df.tail()

,brand,colors,sizes,prices.amountMax,imageURLs,ean
659,easy street,"Turquo,Black,Yellow,Navy,Natural,Coral,Pewter","5 MED,5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8 ME...",54.99,https://media.kohlsimg.com/is/image/kohls/2794...,8.898850e+11
660,easy street,"Turquo,Black,Yellow,Navy,Natural,Coral,Pewter","5 MED,5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8 ME...",54.99,https://media.kohlsimg.com/is/image/kohls/2794...,8.898850e+11
661,easy street,"Turquo,Black,Yellow,Navy,Natural,Coral,Pewter","5 MED,5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8 ME...",54.99,https://media.kohlsimg.com/is/image/kohls/2794...,8.898850e+11
662,easy street,"Turquo,Black,Yellow,Navy,Natural,Coral,Pewter","5 MED,5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8 ME...",54.99,https://media.kohlsimg.com/is/image/kohls/2794...,8.898850e+11
663,easy street,"Turquo,Black,Yellow,Navy,Natural,Coral,Pewter","5 MED,5.5 MED,6 MED,6.5 MED,7 MED,7.5 MED,8 ME...",54.99,https://media.kohlsimg.com/is/image/kohls/2794...,8.898850e+11

**limpieza tallas y color de zapato**

In [9]:
len(df)

664

In [10]:
df.sizes[0]

'10,7,6,9,8'

In [11]:
df.sizes=df.sizes.apply(lambda x: x.split(','))
df.colors=df.colors.apply(lambda x: x.split(','))

df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean
0,MUK LUKS,[Grey],"[10, 7, 6, 9, 8]",47.00,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
1,MUK LUKS,[Grey],"[10, 7, 6, 9, 8]",35.25,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
2,MUK LUKS,[Black],"[10, 7, 6, 9, 8]",24.75,https://i5.walmartimages.com/asr/950d38a5-0113...,3.397705e+10
3,MUK LUKS,[Grey],"[10, 7, 6, 9, 8]",33.00,https://i5.walmartimages.com/asr/5e137bc3-c900...,3.397705e+10
4,Soft Ones,[Brown Tweed],"[5, 6.5, 9, 11]",14.00,https://i5.walmartimages.com/asr/7b979ba6-fa0a...,3.397705e+10

In [12]:
df=df.explode('sizes').reset_index().drop(columns=['index'])
df=df.explode('colors').reset_index().drop(columns=['index'])

df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean
0,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
1,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
2,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
3,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10
4,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,3.397705e+10

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand             41188 non-null  object
 1   colors            41188 non-null  object
 2   sizes             41188 non-null  object
 3   prices.amountMax  41188 non-null  float64
 4   imageURLs         41188 non-null  object
 5   ean               41188 non-null  float64
dtypes: float64(2), object(4)
memory usage: 1.9+ MB

**codigos numericos ean**

In [14]:
codigo=pd.read_csv('../datasets/upc_corpus.csv')

codigo.head(15)

             ean                                               name
0   725177540363  Belle and The Yank 1/4" - 20 TPI x 90mm Hex Dr...
1   725177540370  Belle and The Yank 1/4" - 20 TPI x 120mm Hex D...
2   797776092321       Eazel Wines 750ml Red Wine Eazel Shiraz 2014
3   701197194311  IsyLei lilla IsyLei All-In-One, lilla - Cono L...
4   797776110773                    MsConscious 370g Skinny Granola
5   797776110797                      MsConscious 370g City Granola
6   797776110803                  MsConscious 370g Euphoria Granola
7   797776110780            MsConscious 430g Fitness Junkie Granola
8   701197247475              Wiuep Co 100ml Wiuep Denim Mist 100mL
9   701197247482              Wiuep Co 200mL Wiuep Denim Mist 200mL
10  701197247505          Wiuep Co 500mL Wiuep Denim Solution 500mL
11  701197247499          Wiuep Co 200mL Wiuep Denim Solution 200mL
12  797776111046                               KYROENT Pray/What If
13  797776111022                Easy Poop BAgs black Easy Poop Bags
14  797776111039                Easy Poop bags black Easy Poop Bags

In [15]:
codigo=codigo.dropna().reset_index()

In [16]:
codigo.ean

0          725177540363
1          725177540370
2          797776092321
3          701197194311
4          797776110773
               ...
1045880     52569744970
1045881     52569749616
1045882     52569751183
1045883     52569755860
1045884     52569758373
Name: ean, Length: 1045885, dtype: object

In [17]:
df.ean=codigo.ean.iloc[0:len(df)]

df.head()

,brand,colors,sizes,prices.amountMax,imageURLs,ean
0,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363
1,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540370
2,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776092321
3,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,701197194311
4,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776110773

In [18]:
df.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   brand             41188 non-null  object
 1   colors            41188 non-null  object
 2   sizes             41188 non-null  object
 3   prices.amountMax  41188 non-null  float64
 4   imageURLs         41188 non-null  object
 5   ean               41188 non-null  object
dtypes: float64(1), object(5)
memory usage: 39.2 MB

In [19]:
df=df.rename(columns={'colors': 'color', 'sizes': 'size',
                      'prices.amountMax': 'price', 'imageURLs': 'url'})

df.head()

,brand,color,size,price,url,ean
0,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363
1,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540370
2,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776092321
3,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,701197194311
4,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776110773

**conexion a PostGres e insercion de datos**

In [20]:
#!sudo -u usuario createdb nombre_db

SCHEMA='barcodes'

str_conn=f'postgres://iudh:password@localhost:5432/{SCHEMA}'

In [21]:
Base=declarative_base()

class Barcodes(Base):
    
    __tablename__='barcodes'
    __table_args__={'schema': SCHEMA}
    
    id=Column(Integer(), primary_key=True, autoincrement=True)
    brand=Column(Text())
    color=Column(Text())
    size=Column(Text())
    price=Column(Text())
    url=Column(Text())
    ean=Column(Text())

In [24]:
sql=ToSQL(str_conn, SCHEMA, Barcodes)

sql.borra_tablas()
sql.crea_tablas()

Borrando tabla...
Creando tabla...

In [25]:
sql.rellena_tablas(df)

Comiteado

In [26]:
df_codes=sql.show_df()

df_codes.head()

,id,brand,color,size,price,url,ean
0,1,MUK LUKS,Grey,10,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540363
1,2,MUK LUKS,Grey,7,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,725177540370
2,3,MUK LUKS,Grey,6,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776092321
3,4,MUK LUKS,Grey,9,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,701197194311
4,5,MUK LUKS,Grey,8,47.0,https://i5.walmartimages.com/asr/421de5d5-3a74...,797776110773

# Generador de codigos de barras (imagenes)

In [27]:
from barcode import EAN13
from barcode.writer import ImageWriter

In [28]:
df_codes.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41188 entries, 0 to 41187
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      41188 non-null  int64
 1   brand   41188 non-null  object
 2   color   41188 non-null  object
 3   size    41188 non-null  object
 4   price   41188 non-null  object
 5   url     41188 non-null  object
 6   ean     41188 non-null  object
dtypes: int64(1), object(6)
memory usage: 41.6 MB

In [ ]:
# solo 20 imagenes

for i in range(20):
    
    with open(f'../images/barcodes/code_{i}.jpeg', 'wb') as f:
        EAN13(df_codes.ean[i])

# Proceso de uso:

+ Captura imagen por webcam de un codigo de barras
+ Decodifica codigo de barras
+ Busca el producto en la base de datos
+ Busca productos similares

**Captura por webcam**

**Decodifica y llama a base de datos**

**Elemento buscado**

**Busqueda elementos similares**

# Sql

Primero, cargar datos en base de datos...