In [9]:
lst = [1,2,3,4,5,6]
tup = (1,2,3,4,5,6)

In [3]:
print(tup)

(1, 2, 3, 4, 5, 6)

In [4]:
lst.append(7)

In [5]:
lst

[1, 2, 3, 4, 5, 6, 7]

In [6]:
tup.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [10]:
tup

(1, 2, 3, 4, 5, 6)

In [11]:
id(tup)

4347812448

In [12]:
tup = (1,2,3,4,5,6,7)
tup

(1, 2, 3, 4, 5, 6, 7)

In [13]:
id(tup)

4348616864

In [14]:
lst

[1, 2, 3, 4, 5, 6]

In [15]:
id(lst)

4347920768

In [16]:
lst.append("Hola")

In [17]:
lst

[1, 2, 3, 4, 5, 6, 'Hola']

In [18]:
id(lst)

4347920768

In [20]:
lst_2_tup = tuple(lst)

In [22]:
lst_2_tup.append(7)

AttributeError: 'tuple' object has no attribute 'append'

In [23]:
tup_2_lst = list(tup)

In [24]:
type(tup_2_lst)

list

In [25]:
tup_2_lst.append("Ciao")

In [26]:
tup_2_lst

[1, 2, 3, 4, 5, 6, 7, 'Ciao']

In [27]:
id(tup)

4348616864

In [28]:
tup = tuple(tup_2_lst)
tup

(1, 2, 3, 4, 5, 6, 7, 'Ciao')

In [29]:
id(tup)

4347488400

# Tuple Packing

In [31]:
sonias_pet = "Canis lupus", "Goku", 5

In [32]:
type(sonias_pet)

tuple

In [36]:
def mascota(owner,name,species):
    return [owner,name,species]

In [37]:
jc = mascota("Jean","Mia","Gato")

In [38]:
type(jc)

list

# Tuple Unpacking

In [46]:
a,b,c = jc

In [47]:
a

'Jean'

In [48]:
b

'Mia'

In [49]:
c

'Gato'

In [50]:
enumerate(["a","b","b"])

In [51]:
list(enumerate(["a","b","b"]))

[(0, 'a'), (1, 'b'), (2, 'b')]

In [52]:
for ind, elem in enumerate(["a","b","b"]):
    print(f"ind = {ind}")
    print(f"elem = {elem}")
    break

ind = 0
elem = a

In [53]:
matrix_size = [15,300]

In [54]:
num_cols, num_elems = matrix_size

In [55]:
num_cols

15

In [74]:
sergios_dog = [name,species,age] = ["Nino","Dog",1]

In [75]:
sergios_dog

['Nino', 'Dog', 1]

In [76]:
name

'Nino'

In [77]:
age

1

In [78]:
age = 2

In [79]:
sergios_dog

['Nino', 'Dog', 1]

- age is passed as a value when creating `sergios_dog`, so it will not change when reasigning `age`.

In [135]:
name = "Nino"
species = "dog"
age = 1
sergios_pet = {"name":name,"species":species,"age":age}

In [136]:
sergios_pet

{'name': 'Nino', 'species': 'dog', 'age': 1}

In [137]:
age = 2

In [138]:
sergios_pet

{'name': 'Nino', 'species': 'dog', 'age': 1}

- `int`'s are always passed as value

In [139]:
nicknames = ("Ni", "Gordo", "Good boy")
sergios_pet["nicknames"] = nicknames

In [140]:
sergios_pet

{'name': 'Nino',
 'species': 'dog',
 'age': 1,
 'nicknames': ('Ni', 'Gordo', 'Good boy')}

In [141]:
nicknames = ("Ni", "Gordo", "Good boy", "doggy")

In [142]:
sergios_pet

{'name': 'Nino',
 'species': 'dog',
 'age': 1,
 'nicknames': ('Ni', 'Gordo', 'Good boy')}

# But as a list.....

In [143]:
nicknames = ["Ni", "Gordo", "Good boy"]
sergios_pet["nicknames"] = nicknames

In [144]:
id(nicknames)

4365650176

In [145]:
sergios_pet

{'name': 'Nino',
 'species': 'dog',
 'age': 1,
 'nicknames': ['Ni', 'Gordo', 'Good boy']}

In [147]:
id(sergios_pet)

4365719168

In [148]:
nicknames.append("doggy")

In [149]:
id(nicknames)

4365650176

In [150]:
sergios_pet

{'name': 'Nino',
 'species': 'dog',
 'age': 1,
 'nicknames': ['Ni', 'Gordo', 'Good boy', 'doggy']}

In [151]:
id(sergios_pet)

4365719168

In [162]:
nicknames is sergios_pet["nicknames"]

True

In [128]:
tup1 = (1,2,3,4)
tup2 = (5,6,7,8)

In [129]:
id(tup1)

4363901184

In [132]:
tup1 += tup2
"""
tup1 = tup1 + tup2
""";

In [131]:
id(tup1)

4373468096

## What should I learn from this?

- Asigning a value ( opertor `=` ) creates a new object
- Methods (such as `.append`) may change the object instead of creating a new one.
- `+=; -=, *=, **=, etc` are creating new objects

In [160]:
a = "hola"
a == "HOLA".lower()

True

In [161]:
a is "HOLA".lower()

False